<!DOCTYPE html>
<html>
<head>
  <title>MyJams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <%= link_to "My Jams", songs_path %>



      <ul>
        <li><a href=#><strong>Newest song:</strong> <%= session[:most_recent_song_title] %></a></li>
        <li><%= link_to "Index", songs_path %></li>
        <li><%= link_to "New Song", new_song_path %></li>
        <% if current_user %>
          <li> <%= link_to "Welcome back #{current_user.username}", "#"  %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>




<%#= flash[:message] %>

<% flash.each do |type, message| %>

  <%= content_tag :div, message, class: "alert alert-#{type}" %>

  <% end %>

<%= yield %>

</body>
</html>
